venv
_pycache_
venv
embedded/.pio
embedded/.vscode/.browse.c_cpp.db*
embedded/.vscode/c_cpp_properties.json
embedded/.vscode/launch.json
embedded/.vscode/ipch
embedded/include/env.h
embedded/.vscode
api/_pycache_
api/.env
api/venv